@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@300;400;500;700&display=swap');

:root {
    font-size: 62.5%;
    --redblack: #361710;
    --redbrown: #803828 ;
    --orange: #FE9433;
    --darkgrey: #D9D9D9;
    --lightgrey: #E9E9E9;
    --white: white; 
 }

 body {
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    color: var(--redblack);
    background-color: var(--lightgrey);
    margin: 0px;
 }

 /* START NAV*/
 header nav menu li {
    list-style: none;
 }

 header nav menu {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    align-items: center;
 }

 header nav menu menu {
    display: none;
 }

 header nav menu li:hover button + menu {
    display: block;
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    background-color: #803828;
 }


 header nav {
    background-color: var(--redbrown);
    /* top | bottom | left | right */
    /* top & bottom | left & right */
    padding: 25px;
 }

 .logo { 
    font-family: 'Paytone One', cursive;
    font-size: 4.5rem;
    text-decoration: none;
    color: var(--white);
    margin-left: -50px !important;
 }

 header nav menu button { /* the buttons that have the dropdowns*/
    color: var(--white);
    background: none;
    font-size: 2.4rem;
    text-decoration: none;
 }
 header nav menu button:hover {
    color: var(--orange);
 }

 header nav menu li > a {  /* other nav tabs that dont have the dropdows*/
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
 }
 header nav menu li > a:hover {
   color: var(--orange);
}


 button {  
   background-color: transparent;
   border: none;
   font-family: 'Poppins', sans-serif;
   font-size: 1.8rem;
   font-weight: 600;
 }
 
 /*footer*/
 footer {
   background-color: var(--redblack);
   color: var(--white);

}

footer nav {
   width: 80%;
   margin: auto;
   padding: 20px 0px;
}

footer nav li {
   list-style: none;
   margin-bottom: 10px;
}

footer nav>menu {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: top;
}

footer nav>menu li menu {
   padding: 0px;
}

footer p {
   font-size: 14px;
   text-align: center;
   margin: 0px;
   padding-bottom: 10px;
}

footer nav menu li a {
   color: var(--orange);
   text-decoration: none;
}

@media (max-width: 1180px) {

   footer nav menu li:first-child {
       width: 100%;
   }

   footer nav menu li:first-child div {
       justify-content: flex-start;
   }

   footer nav menu li:first-child div a {
       margin-right: 20px;
   }
}

#logo-foot {
   font-family: 'Paytone One', cursive;
   font-size: 4.0rem;
   font-weight: 700;
   margin-left: -120px;
   margin-top: -5px;
}
/* end footer*/

/* top section*/

#top-section {
    text-align: center;
    margin-top: 150px;
}

#standard {
    font-size: 3.6rem;
    text-decoration: none;
    color: var(--orange);
}

#subtitle {
    font-size: 3.2rem;
    margin-top: -45px;
}

#top-section img {
    align-items: center;
}

 .title {
    font-family: 'Paytone One', cursive;
    font-size: 7.5rem;
    margin-top: -35px;
 }

 /*tuner section*/

 #tuner {
    display: flex;
    justify-content: space-evenly;
 }

#left-side {
    display: flex;
    flex-direction: column; 
    margin-top: 200px;
    margin-right: -120px;   
}

#left-side img {
    margin-bottom: 20px;
}


#right-side img {
    margin-bottom: 20px;
}

.hover_img {
    cursor: pointer;
}

#right-side {
    display: flex;
    flex-direction: column;
    margin-top: 200px;  
    margin-left: -120px;
}

#trouble a {
    font-family: 'Poppins', san-serif;
   font-size: 2.5rem;
   font-weight: 500;
   text-align: center;
   text-decoration: none;
   color: white !important;
   background-color: var(--orange);
   padding: 20px 30px;
   border-radius: 15px;
}

#trouble a:hover {
    color: var(--redbrown) !important;
    padding: 15px 25px;
    border-style: outset;
    border: solid;
    border-radius: 15px;
    border-color: var(--redbrown);
    border-width: 5px;
}

#trouble p {
    margin-top: -25px;
    font-size: 3.2rem;
}

#trouble {
    margin-bottom: 80px;
    margin-left: 20px;
}

.img {
    position: relative;
}

.hover_img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.img:hover .hover_img {
    display: inline;
}